.App {
  width: 100vw;
  height: 100vh;
  background-image: url("https://picsum.photos/1920/1080");
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  box-sizing: border-box;
  width: 700px;
  height: 300px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(18, 91, 250, 0.25);  
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container > Button {
  justify-self: flex-end;
}

.btn-next {
  display: inline-block;
  margin-top: 55px;
  margin-right: 20px;
  align-self: flex-end;
  justify-self: flex-end;
}
